<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>Wiki</title>
		<link rel="stylesheet" href="/css/site.css" />
	</head>

	<body>
		<div>
			<aside>
				<div class="center">
					<img class="logo" src="/img/logo.png" alt="logo" />
				</div>

				<nav>
					<a href="/index">Main Page</a>
					<a href="/allArticle">All Articles</a>
					<form>
						<input type="text" />
						<input type="submit" value="Search" />
					</form>
					<a href="/create">Create New Article</a>
				</nav>
			</aside>
			<div id="container">
				<header>
					<a href="/">Login</a>
					<a href="/reg">Register</a>
					<span>Welcome, Bob!</span>
					<a href="/logout">[Logout]</a>
				</header>
				<main>
					<h1>Welcome to My Hero FanWiki!</h1>
					<div class="spacer">

						{{#with contents}}
						<h2>{{this.title}}
							<div class="controls">
								<a href="/edit/{{_id}}">[edit]</a>
								<a href="/delete/{{_id}}">[delete]</a>
							</div>
						</h2>
						<article>
							<p>
								
									{{this.content}}
								{{/with}}
							</p>

						</article>
					</div>
				</main>
				<footer>
					KingUni Wiki &copy; 2020
				</footer>
			</div>
		</div>
	</body>

</html>